@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased selection:bg-primary selection:text-background;
    min-height: 100vh;
  }
}

@layer utilities {
  .glass {
    @apply bg-surface border border-white/10;
  }
  .glass-card {
    @apply bg-surface border border-white/10 rounded shadow-sm hover:border-white/20 transition-colors;
  }
  .text-gradient {
    @apply text-text font-bold tracking-tight;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cy-container {
  width: 100%;
  height: 100%;
}
